<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="card col col-md-6 offset-md-3 text-center mt-5">
      <h1 class="card-title mt-3">
        {{'AUTH.Cambio de contraseña'|translate}}
      </h1>
      <h4 class="card-subtitle">
        {{'AUTH.Al terminar, te enviaremos a iniciar sesión de nuevo con tu nueva contraseña'|translate}}
      </h4>
      <div class="card-body">
        <div *ngIf="error" class="alert alert-danger text-center" role="alert">
          {{error}}
        </div>
        <form method="POST" [formGroup]="form" (ngSubmit)="newPassword($event)">
          <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label class="text-andromeda">
                {{'AUTH.Nueva contraseña'|translate}}
              </mat-label>
              <input matInput formControlName="new_password" type="password">
              <mat-error *ngIf="form.get('new_password').hasError('required')">
                {{'AUTH.Campo requerido'|translate}}
              </mat-error>
              <mat-error *ngIf="form.get('new_password').hasError('minlength')">
                {{'AUTH.Usa mas de 8 caracteres o mas para tu contraseña'|translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label class="text-andromeda">
                {{'AUTH.Confirma tu contraseña'|translate}}
              </mat-label>
              <input matInput formControlName="new_password_confirmation" type="password">
              <mat-error *ngIf="form.get('new_password_confirmation').hasError('required')">
                {{'AUTH.Campo requerido'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group mb-4">
            <button type="submit" class="btn btn-andromeda btn-block">
              {{'AUTH.Hacer el cambio de contraseña'|translate}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer class="fixed-bottom"></app-footer>
