<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="card col col-md-6 offset-md-3 text-center mt-5">
      <h1 class="card-title mt-3">
        {{'AUTH.Cambio de contraseña'|translate}}
      </h1>
      <h4 class="card-subtitle">
        {{'AUTH.Al terminar, te enviaremos a iniciar sesión de nuevo con tu nueva contraseña'|translate}}
      </h4>
      <div class="card-body">
        <div *ngIf="error" class="alert alert-danger text-center" role="alert">
          {{error}}
        </div>
        <form method="POST" [formGroup]="form" (ngSubmit)="newPassword($event)">
          <div class="p-fluid">
            <div class="p-field">
              <label for="new_password">{{'AUTH.Nueva contraseña'|translate}}</label>
              <input type="password"
                     id="new_password"
                     pInputText
                     formControlName="new_password">
              <small class="p-error" *ngIf="passwordInvalid">
                {{'AUTH.Usa mas de 8 caracteres para tu contraseña'|translate}}
              </small>
            </div>
            <div class="p-field">
              <label for="confirm_password">
                {{'AUTH.Confirma tu contraseña'|translate}}
              </label>
              <input type="password"
                     id="confirm_password"
                     pInputText
                     formControlName="new_password_confirmation">
              <small class="p-error" *ngIf="confirmPasswordInvalid">
                Las contraseñas no coinciden. Vuelve a intentarlo.
              </small>
            </div>
          </div>
          <div class="p-field">
            <button type="submit" class="btn btn-andromeda btn-block">
              {{'AUTH.Hacer el cambio de contraseña'|translate}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer class="fixed-bottom"></app-footer>
