<app-welcome></app-welcome>
<div class="row row-content" *ngIf="userInfo && macbook">
  <div class="col-12 col-sm-6 col-xl d-flex">
    <div class="card flex flex-fill">
      <div class="card-body py-4">
        <div class="stats">
          <div class="stats-body">
            <h1 class="mb-2">{{totalRequest}}</h1>
            <h5 class="mb-2 card-title text-andromeda">
              {{'DASHBOARD.INICIO.Solicitudes totales'|translate}}
            </h5>
          </div>
          <div class="d-inline-block ml-3">
            <div class="icon">
              <i class="far fa-chart-bar"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl d-flex">
    <div class="card flex flex-fill">
      <div class="card-body py-4">
        <div class="stats">
          <div class="stats-body">
            <h1 class="mb-2">{{macbook['implements_available']}}</h1>
            <h5 class="mb-2 card-title text-andromeda">
              {{'DASHBOARD.INICIO.Macbooks disponibles'|translate}}
            </h5>
          </div>
          <div class="d-inline-block ml-3">
            <div class="icon">
              <i class="fas fa-laptop"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl d-flex">
    <div class="card flex flex-fill">
      <div class="card-body py-4">
        <div class="stats">
          <div class="stats-body">
            <h1 class="mb-2">{{userInfo.employee['technical_support_request']}}</h1>
            <h5 class="mb-2 card-title text-andromeda">
              Soportes solicitados
            </h5>
          </div>
          <div class="d-inline-block ml-3">
            <div class="icon">
              <i class="far fa-clipboard"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl d-flex">
    <div class="card flex flex-fill">
      <div class="card-body py-4">
        <div class="stats">
          <div class="stats-body">
            <h1 class="mb-2">{{userInfo.employee['loans_request']}}</h1>
            <h5 class="mb-2 card-title text-andromeda">
              Prestamos solicitados
            </h5>
          </div>
          <div class="d-inline-block ml-3">
            <div class="icon">
              <i class="far fa-keyboard"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card flex-fill">
      <div class="card-header">
        <h5 class="card-title mb-0 text-andromeda">
          {{'DASHBOARD.INICIO.Solicitudes mensuales'|translate}}
        </h5>
      </div>
      <div class="card-body py-3">
        <div class="monitor-analitics chart-wrapper">
          <hr>
          <p-chart type="line"
                   [data]="data"
                   height="400"
                   [responsive]="true">
          </p-chart>
        </div>
      </div>
    </div>
  </div>
</div>
