<div class="stepsdemo-content">
  <p-card>
    <ng-template pTemplate="title">
      {{'DASHBOARD.LOANS.Datos del servicio'|translate}}
    </ng-template>
    <ng-template pTemplate="subtitle">
      {{'DASHBOARD.LOANS.Ingresa los datos requeridos'|translate}}
    </ng-template>
    <ng-template pTemplate="content">
      <h5>{{'DASHBOARD.LOANS.Usuario registrado'|translate}}</h5>
      <div class="p-fluid p-grid">
        <div class="p-col-12 p-md-6">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
              <i class="pi pi-user"></i>
            </span>
            <input type="text" pInputText [(ngModel)]="userFullName" disabled>
          </div>
        </div>
        <div class="p-col-12 p-md-6">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
              <span class="material-icons">
              local_post_office
              </span>
            </span>
            <input type="text" pInputText [(ngModel)]="userData['email']" disabled>
          </div>
        </div>
      </div>
      <div class="p-fluid mt-3">
        <div class="p-field">
          <label for="calendar">
            {{'DASHBOARD.LOANS.Fecha del préstamo tecnológico'|translate}}
          </label>
          <p-calendar [(ngModel)]="value"
                      [disabledDates]="invalidDates"
                      [disabledDays]="[0,6]"
                      [showIcon]="true"
                      [readonlyInput]="true"
                      showTime="true"
                      hourFormat="12"
                      showButtonBar="true"
                      dateFormat="dd-mm-yy"
                      id="calendar"
                      [required]="true">
          </p-calendar>
          <small>
            {{'DASHBOARD.LOANS.El servicio debe ser solicitado con 2 horas de anticipación'|translate}}
          </small>
          <br>
          <small class="p-error" *ngIf="error">Campo requerido</small>
        </div>
        <div class="p-field">
          <label for="location">
            {{'DASHBOARD.LOANS.Lugar para entregar los implementos'|translate}}
          </label>
          <input type="text" [required]="true" pInputText id="location" [(ngModel)]="data['loans_location']">
          <small class="p-error" *ngIf="error">Campo requerido</small>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="text-right">
        <p-button label="{{'DASHBOARD.LOANS.Siguiente'|translate}}"
                  (onClick)="nextPage()"
                  icon="pi pi-angle-right"
                  iconPos="right">
        </p-button>
      </div>
    </ng-template>
  </p-card>
</div>
