<div class="header">
  <h1 class="header-title">
    {{'DASHBOARD.INVENTORY.Agregar Implemento'|translate}}
  </h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="../../">
          {{'DASHBOARD.INVENTORY.Inicio'|translate}}
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{'DASHBOARD.INVENTORY.Agregar Implemento'|translate}}
      </li>
    </ol>
  </nav>
</div>

<p-card>
  <ng-template pTemplate="title">
    {{'DASHBOARD.INVENTORY.Nuevo implemento'|translate}}
  </ng-template>
  <ng-template pTemplate="subtitle">
    {{'DASHBOARD.INVENTORY.Ingresa los datos requeridos'|translate}}
  </ng-template>
  <ng-template pTemplate="content">
    <form [formGroup]="form" method="POST" (ngSubmit)="newImplement($event)">
      <h2>{{'DASHBOARD.INVENTORY.Datos de Implemento'|translate}}</h2>
      <div class="p-grid p-fluid mb-4">
        <div class="col-12 col-md-4">
          <div class="p-field">
            <label for="implement_name">{{'DASHBOARD.INVENTORY.Nombre del implemento'|translate}}</label>
            <input type="text" pInputText id="implement_name" formControlName="name">
            <small class="p-error" *ngIf="nameInvalid">
              {{'DASHBOARD.INVENTORY.Campo requerido'|translate}}
            </small>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="p-field">
            <label for="category">{{'DASHBOARD.INVENTORY.Categoria'|translate}}</label>
            <span class="p-input-icon-left">
            <i class="pi pi-tag"></i>
            <input type="text" pInputText id="category" formControlName="category">
          </span>
          <small class="p-error" *ngIf="categoryInvalid">
            {{'DASHBOARD.INVENTORY.Campo requerido'|translate}}
          </small>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="p-field">
            <label for="tech_tab">{{'DASHBOARD.INVENTORY.Ficha Tecnica'|translate}}</label>
            <p-dropdown
              [options]="techTabs"
              optionLabel="model_implement"
              optionValue="id"
              id="tech_tab"
              formControlName="technical_data_sheet"
              placeholder="{{'DASHBOARD.INVENTORY.Seleccionar Ficha Tecnica'|translate}}">
            </p-dropdown>
            <small class="p-error" *ngIf="technical_data_sheetInvalid">
              {{'DASHBOARD.INVENTORY.Campo requerido'|translate}}
            </small>
          </div>
        </div>
      </div>
      <h2>{{'DASHBOARD.INVENTORY.Datos de Compra'|translate}}</h2>
      <div class="p-grid p-fluid mb-4">
        <div class="col-12 col-md-6">
          <div class="p-field">
            <label for="purchase_date">{{'DASHBOARD.INVENTORY.Fecha de Compra'|translate}}</label>
            <p-calendar
              formControlName="purchase_date"
              id="purchase_date"
              dateFormat="yy.mm.dd"
              [touchUI]="true"
              [readonlyInput]="true"
              [showIcon]="true">
            </p-calendar>
            <small class="p-error" *ngIf="purchase_dateInvalid">
              {{'DASHBOARD.INVENTORY.Campo requerido'|translate}}
            </small>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="p-field">
            <label for="price">{{'DASHBOARD.INVENTORY.Precio de compra'|translate}}</label>
            <span class="p-input-icon-left">
            <i class="pi pi-dollar"></i>
            <input type="text" pInputText formControlName="price" id="price">
          </span>
          <small class="p-error" *ngIf="priceInvalid">
            {{'DASHBOARD.INVENTORY.Campo requerido'|translate}}
          </small>

          </div>
        </div>
      </div>
      <h2>{{'DASHBOARD.INVENTORY.Datos de Identificación'|translate}}</h2>
      <div class="p-grid p-fluid mb-4">
        <div class="col-12 col-md-6">
          <div class="p-field">
            <label for="serial">{{'DASHBOARD.INVENTORY.Numero Serial'|translate}}</label>
            <span class="p-input-icon-left">
            <i class="pi pi-key"></i>
            <input type="text" pInputText formControlName="serial_number" id="serial">
          </span>
          <small class="p-error" *ngIf="serialNumberInvalid">
            {{'DASHBOARD.INVENTORY.Campo requerido'|translate}}
          </small>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="p-field">
            <label for="status_implement">{{'DASHBOARD.INVENTORY.Estado del Implemento'|translate}}</label>
            <p-dropdown [options]="statusImplement"
                        id="status_implement"
                        optionLabel="value"
                        optionValue="value"
                        placeholder="{{'DASHBOARD.INVENTORY.Seleccionar Estado Actual'|translate}}"
                        formControlName="status_implement">
            </p-dropdown>
            <small class="p-error" *ngIf="status_implementInvalid">
              {{'DASHBOARD.INVENTORY.Campo requerido'|translate}}
            </small>
          </div>

        </div>
      </div>
      <div class="p-grid p-nogutter">
        <button type="submit" class="btn btn-andromeda btn-block" [disabled]="form.invalid">
          {{'DASHBOARD.INVENTORY.Agregar Implemento'|translate}}
        </button>
      </div>
    </form>
  </ng-template>
</p-card>
