<div class="header">
  <h1 class="header-title">
    {{'DASHBOARD.INVENTORY.Agregar Ficha tecnica'|translate}}
  </h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="../../">
          {{'DASHBOARD.INVENTORY.Inicio'|translate}}
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{'DASHBOARD.INVENTORY.Agregar Ficha tecnica'|translate}}
      </li>
    </ol>
  </nav>
</div>

<p-card>
  <ng-template pTemplate="title">
    {{'DASHBOARD.INVENTORY.Agregue ficha tecnica'|translate}}
  </ng-template>
  <ng-template pTemplate="subtitle">
    {{'DASHBOARD.MAINTANCE.Ingresa los datos requeridos'|translate}}
  </ng-template>
  <ng-template pTemplate="content">
    <form [formGroup]="form" method="POST" (ngSubmit)="ingresarFicha($event)">
      <h2>{{'DASHBOARD.INVENTORY.Ficha tecnica'|translate}}</h2>
      <div class="p-grid p-fluid mb-4">
        <div class="col-12 col-md-4">
          <div class="p-field">
            <label for="implement_name">{{'DASHBOARD.INVENTORY.Ingrese marca del implemento'|translate}}</label>
            <input type="text" pInputText id="implement_name" formControlName="brand_implement">
            <small class="p-error" *ngIf="brand_implementInvalid">
              {{'DASHBOARD.INVENTORY.Campo requerido'|translate}}
            </small>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="p-field">
            <label for="category">{{'DASHBOARD.INVENTORY.Modelo del implemento'|translate}}</label>
            <span class="p-input-icon-left">
            <input type="text" pInputText id="category" formControlName="model_implement">
            <small class="p-error" *ngIf="model_implementInvalid">
              {{'DASHBOARD.INVENTORY.Campo requerido'|translate}}
            </small>
          </span>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="p-field">
            <label for="tech_tab">{{'DASHBOARD.INVENTORY.Sistema operativo'|translate}}</label>
              <input type="text" pInputText formControlName="operating_system">
              <small class="p-error" *ngIf="operating_systemInvalid">
                {{'DASHBOARD.INVENTORY.Campo requerido'|translate}}
              </small>
          </div>
        </div>
      </div>
      <h2>{{'DASHBOARD.INVENTORY.Datos tecnicos'|translate}}</h2>
      <div class="p-grid p-fluid mb-4">
        <div class="col-12 col-md-6">
          <label>{{'DASHBOARD.INVENTORY.Ingrese especificaciones'|translate}}</label>
          <textarea pInputTextarea formControlName="specifications"></textarea>
          <small class="p-error" *ngIf="specificationsInvalid">
            {{'DASHBOARD.INVENTORY.Campo requerido'|translate}}
          </small>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <mat-form-field appearance="outline" class="mt-3">
            <mat-label>
              {{'DASHBOARD.INVENTORY.Agregue imagen de referencia'|translate}}
            </mat-label>
            <ngx-mat-file-input placeholder="Basic outline placeholder"
                                (change)="onChange($event)"></ngx-mat-file-input>
            <mat-icon matSuffix>folder</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="p-grid p-nogutter">
        <button type="submit" class="btn btn-andromeda btn-block" [disabled]="form.invalid">
          {{'DASHBOARD.INVENTORY.Agregar ficha tecnica'|translate}}
        </button>
      </div>
    </form>
  </ng-template>
</p-card>

