<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="card col text-center mt-5">
      <div class="img-fluid align-content-center mt-5">
        <img src="assets/img/email_confirmation.png" alt="success" width="438">
      </div>
      <div class="card-body mb-5">
        <h1 class="card-title">Confirmar Correo Electronico</h1>
        <h3 class="card-text">Tu cuenta fue <strong>verificada exitosamente</strong>, ahora puedes iniciar sesión</h3>
        <a class="btn btn-outline-primary btn-block mt-5" routerLink="/login" role="button">
          Iniciar Sesión
        </a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
