@media print {
  .header, hr, .sidebar {
    display: none;
  }
}

.input-file input[type="file"] {
  display: none;
}

.cursor {
  cursor: pointer
}

.card-body .form-group .form-control {
  border-radius: 6px;
  box-shadow: none !important;
  background: #ffff !important;
  color: black !important;
}

.card-body .detail-icons {
  width: 1.25em !important;
  color: #495057;
  text-align: center;
  margin-right: 0.3rem !important;
  vertical-align: middle !important;
}

.card {
  margin-bottom: 1.5rem;
  box-shadow: 0 0 0.875rem 0 rgba(53, 64, 82, 0.05);
}

p-card {
  position: relative;
}

.card-header {
  margin-bottom: 0;
  background-color: #ffff !important;
  border-bottom: 0 solid transparent !important;
}

.card-title {
  font-weight: 550;
  font-size: 1rem;
}

.sidebar-item .active {
  color: #26272C !important;
  background: #e9ecef !important;
}

.breadcrumb {
  background-color: transparent !important;
  padding: 0 !important;
}

.breadcrumb .breadcrumb-item.active {
  color: #ffff;
  font-weight: 500;
}

.breadcrumb .breadcrumb-item a {
  color: #e9ecef;
  text-underline: none;
}

.custom-control-label::before {
  content: " ";
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  user-select: none;
  background-color: #dee2e6;
}

.header-title {
  font-size: 2em !important;
}

.icon {
  padding: .75rem;
  width: 48px;
  height: 48px;
  color: white;
  background-color: #0B5FA5 !important;
  border-radius: 50% !important;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.stats {
  display: flex;
  align-items: flex-start;
}

.stats-body {
  flex: 1;
}

.wrapper {
  display: flex;
  width: 100%;
  position: relative;
  align-content: stretch;
  overflow: hidden;
}

.wrapper:before {
  content: " ";
  width: 100%;
  height: 264px;
  position: absolute;
  top: 0;
  left: 0;
  background: #083358;
}

.rounded-profile {
  height: 2rem;
  width: 2rem;
  border-radius: 50% !important;
}

.rounded-circle img {
  height: 2rem;
  width: 2rem;
  border-radius: 50% !important;
}

.userDropdown {
  color: #ffff !important;
}

.content {
  margin-top: 3rem;
  padding: 0 0.5rem;
}

.header {
  margin-bottom: 3rem;
  position: relative;
  color: #ffff;
}

.dropdown-item .notify-icon {
  float: left;
  text-align: center;
  margin-right: 10px;
}

.dropdown-item .notify-details {
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-item .message {
  white-space: normal;
  margin-left: 45px;
  line-height: 16px;
}

.dropdown-item {
  display: block;
  padding: 0.35rem 1.5rem;
  color: #495057;
  text-align: inherit;
  background-color: transparent;
}

.dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #ffff;
}

.dropdown-item:active {
  text-decoration: none;
  background: #e9ecef !important;
}

.sidebar {
  min-width: 250px;
  max-width: 250px;
  transition: margin-left 0.3s ease-in-out, left 0.3s ease-in-out, margin-right 0.3s ease-in-out, right 0.3s ease-in-out;
  background: #ffff;
  border-right: 0;
  z-index: 1;
}

.sidebar.toggled {
  margin-left: -250px;
}

.sidebar-brand {
  padding: 1rem;
  background: #083358;
  display: block;
}

.sidebar-brand img {
  width: 170px;
}

.sidebar-nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  background: #ffff;
}

.sidebar-header {
  background: transparent;
  color: #adb5db;
  padding: 0.375rem 1.5rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-top: 1rem !important;
}

.sidebar [data-toggle=collapse] {
  position: relative;
}

.sidebar [data-toggle=collapse]:before {
  content: " ";
  border: solid;
  border-width: 0 0.1rem 0.1rem 0;
  display: inline-block;
  padding: 2.5px;
  transform: rotate(-45deg);
  position: absolute;
  top: 1.2rem;
  right: 1.25rem;
  transition: all 0.2s ease-out;
}

.sidebar [aria-expanded=true]:before, .sidebar [data-toggle=collapse]:not(.collapsed):before {
  transform: rotate(45deg);
}

a.sidebar-link {
  display: block;
  padding: 0.65rem 0.75rem;
  margin: 0 0.5rem;
  color: #6c757d;
  font-weight: 400;
  background: transparent;
  border-radius: 0.2rem;
  transition: background 0.1s ease-in-out;
  position: relative;
  text-decoration: none !important;
  cursor: pointer;
}

a.sidebar-link:hover {
  color: #212529;
  background: white;
}

a.sidebar-link .fa-fw {
  color: #083358;
}

.sidebar-dropdown .sidebar-link {
  padding: 0.35rem 1.5rem 0.35rem 2.75rem;
  margin: 0 0.5rem;
  font-weight: 400;
  font-size: 90%;
}

.sidebar-toggle {
  cursor: pointer;
  margin-left: 0.5rem;
}

.fa-bars {
  color: #ffff !important;
  font-size: 25px !important;
  position: relative;
}

.main {
  width: 100%;
  min-height: 100vh;
  background-color: #e9ecef;
}

.text-dark {
  color: #344050 !important;
  font-weight: 500 !important;
  line-height: 1.2 !important;
}

td a:hover {
  text-decoration: #1657af underline !important;
}

.maintenance-detail div, .support-detail div {
  margin-bottom: 1rem;
}

.maintenance-detail .title, .support-detail .title {
  font-weight: bold;
}

/*---------------------------------- Prime ----------------------------------------------- */
.p-button-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.p-button-success:hover {
  color: #fff;
  background-color: #218838 !important;
  border-color: #1e7e34;
}

:host ::ng-deep .p-avatar.p-avatar-circle img {
  border-radius: 50%;
}

:host ::ng-deep .p-avatar {
  vertical-align: middle;
}

:host ::ng-deep .p-rating .p-rating-icon {
  font-size: 1.5rem !important;
}

:host ::ng-deep .p-multiselect {
  min-width: 15rem;
}

:host ::ng-deep .multiselect-custom .p-multiselect-label {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

:host ::ng-deep .multiselect-custom .implement-item-value {
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  display: inline-flex;
  margin-right: 0.5rem;
  background-color: var(--primary-color);
  color: var(--primary-color-text);
}

:host ::ng-deep .multiselect-custom .implement-item-value img.flag {
  width: 17px;
}

:host ::ng-deep .multiselect-custom .implement-item img.flag {
  width: 50px;
}

:host ::ng-deep .multiselect-custom .implement-placeholder {
  padding: 0.25rem;
}

:host ::ng-deep .p-accordion-header {
  display: none;
}

:host ::ng-deep .p-overlaypanel, :host ::ng-deep .p-menu.p-menu-overlay {
  position: absolute;
  transform-origin: top;
  top: auto !important;
  right: 0;
  width: 250px !important;
  max-height: 400px;
  list-style-type: none;
  margin: 0;
  left: auto !important;
}

/*----------------------------------- Media ----------------------------------------------- */

@media (max-width: 1366px) and (min-width: 1px) {
  .sidebar {
    margin-left: -250px;
  }

  .sidebar.toggled {
    margin-left: 0 !important;
  }
}

:host ::ng-deep .p-datatable-responsive-mobile .p-datatable-tbody > tr > td .p-column-title {
  display: none;
}

@media screen and (max-width: 40rem) {
  :host ::ng-deep .p-datatable.p-datatable-responsive-mobile .p-datatable-thead > tr > th,
  :host ::ng-deep .p-datatable.p-datatable-responsive-mobile .p-datatable-tfoot > tr > td {
    display: none !important;
  }

  :host ::ng-deep .p-datatable.p-datatable-responsive-mobile .p-datatable-tbody > tr > td {
    text-align: left;
    display: block;
    width: 100%;
    float: left;
    clear: left;
    border: 0 none;
  }

  :host ::ng-deep .p-datatable.p-datatable-responsive-mobile .p-datatable-tbody > tr > td .p-column-title {
    padding: .4rem;
    min-width: 30%;
    display: inline-block;
    margin: -.4em 1em -.4em -.4rem;
    font-weight: bold;
  }

  :host ::ng-deep .p-datatable.p-datatable-responsive-mobile .p-datatable-tbody > tr > td:last-child {
    border-bottom: 1px solid var(--surface-d);
  }
  .btn-table{
    width: 100%;
    margin-bottom: 1rem;
  }
}

:host ::ng-deep .p-chip.custom-chip {
  background: #083358;
  color: var(--primary-color-text);
}

:host ::ng-deep .fc a[data-navlink], :host ::ng-deep .fc .fc-daygrid-event {
  color: inherit;
}

:host ::ng-deep .fc .fc-col-header-cell-cushion {
  color: #70757a;
}


