<footer id="footer" class="mt-5">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-lg-6 text-lg-left text-center">
        <div class="copy">
          © Copyright
          <strong>Andromeda</strong>
          {{'HOME.FOOTER.todos los derechos reservados'|translate}}
        </div>
      </div>
      <div class=" col-md-6 col-lg-6">
        <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
          <a href="#">{{'HOME.FOOTER.Inicio' | translate}}</a>
          <a href="#">{{'HOME.FOOTER.About' | translate}}</a>
          <a href="#">{{'HOME.FOOTER.Politicas de privacidad' | translate}}</a>
          <a href="#">{{'HOME.FOOTER.Términos de uso' | translate}}</a>
        </nav>
      </div>
    </div>
  </div>
</footer>
