<div class="header">
  <h1 class="header-title">{{'DASHBOARD.CONTROLUSER.Control de personal'|translate}}</h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="../">{{'DASHBOARD.CONTROLUSER.Inicio'|translate}}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{'DASHBOARD.CONTROLUSER.Auxiliares de sistemas'|translate}}
      </li>
    </ol>
  </nav>
</div>
<div class="card">
  <p-table #dt
           [value]="assistants"
           dataKey="id"
           [rows]="10"
           [showCurrentPageReport]="true"
           [loading]="loading"
           [rowsPerPageOptions]="[10,25,50]"
           [paginator]="true"
           [resizableColumns]="true"
           [autoLayout]="true"
           [filterDelay]="0"
           [globalFilterFields]="['first_name', 'last_name', 'email']">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h3>{{'DASHBOARD.CONTROLUSER.Control de Auxiliares'|translate}}</h3>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText
                 type="text"
                 (input)="dt.filterGlobal($event.target['value'], 'contains')"
                 placeholder="{{'DASHBOARD.CONTROLUSER.Buscar...'| translate}}">
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>{{'DASHBOARD.CONTROLUSER.Nombre Completo'|translate}}</th>
        <th style="width:20%">{{'DASHBOARD.CONTROLUSER.Correo Electronico'|translate}}</th>
        <th style="width:15%">{{'DASHBOARD.CONTROLUSER.Calificación'|translate}}</th>
        <th>{{'DASHBOARD.CONTROLUSER.Estado'|translate}}</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-assistant>
      <tr>
        <td>
          <p-avatar [image]="assistant['profile']['picture']" shape="circle"></p-avatar>
          <a [routerLink]="['/admin/perfil',assistant.id]" routerLinkActive="active" class="ml-2 text-dark">
            {{assistant['first_name']}} {{assistant['last_name']}}
          </a>
        </td>
        <td>
          <a href="mailto:{{assistant['email']}}">{{assistant['email']}}</a>
        </td>
        <td>
          <p-rating [readonly]="true"
                    [cancel]="false"
                    ngModel="{{assistant['assistant']['reputation']}}">
          </p-rating>
        </td>
        <td *ngIf="assistant['assistant']['availability']; else elseBlock">
          <span class="badge badge-success">
            {{'DASHBOARD.CONTROLUSER.Disponible'|translate}}
          </span>
        </td>
        <ng-template #elseBlock>
          <td>
            <span class="badge badge-warning">
              {{'DASHBOARD.CONTROLUSER.En servicio'|translate}}
            </span>
          </td>
        </ng-template>
        <td>
          <button pButton
                  icon="pi pi-external-link"
                  type="button"
                  class="btn btn-info"
                  (click)="moreDetail(assistant)"
                  label="{{'DASHBOARD.CONTROLUSER.Mas detalles'|translate}}">
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog header="Detalles de auxiliar"
          [style]="{width: '600px'}"
          [(visible)]="display"
          [modal]="true"
          styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="text-center">
      <img src="{{assistant['profile']['picture']}}"
           class="img-fluid rounded-circle"
           alt="Profile"
           width=100>
      <h3>{{assistant['first_name']}} {{assistant['last_name']}}</h3>
      <a href="mailto:{{assistant['email']}}">{{assistant['email']}}</a>
      <div class="mt-3">
        <p-rating [readonly]="true"
                  [cancel]="false"
                  ngModel="{{assistant['assistant']['reputation']}}">
        </p-rating>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12 col-md-4">
        <p-card>
          <h3 class="p-text-bold">Soporte Completados</h3>
          <h2>{{assistant['assistant']['technical_support_completed']}}</h2>
        </p-card>
      </div>
      <div class="col-12 col-md-4">
        <p-card>
          <h3 class="p-text-bold">Prestamos Completados</h3>
          <h2>{{assistant['assistant']['loans_completed']}}</h2>
        </p-card>
      </div>
      <div class="col-12 col-md-4">
        <p-card>
          <h3 class="p-text-bold">Mantenimientos Completados</h3>
          <h2>{{assistant['assistant']['maintenance_completed']}}</h2>
        </p-card>
      </div>
    </div>
  </ng-template>
</p-dialog>
