<section class="contact mt-5" id="contacto">
  <div class="container">
    <div class="section-title">
      <h2 class="text-center pt-5 pb-5 text-andromeda">
        {{'HOME.CONTACT.Contáctanos' | translate}}
      </h2>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="contact-about text-center">
          <h3 class="text-andromeda mb-3">
            {{'HOME.CONTACT.Síguenos' | translate}}
          </h3>
          <div class="iconos mb-3">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
          </div>
          <p>
            {{'HOME.CONTACT.Programamos con' | translate}}
            <i class="far fa-heart heart"></i>
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mt-4 mt-md-0 ">
        <div class="info">
          <div>
            <span class="icono"><i class="fas fa-map-marker-alt"></i></span>
            <span class="pl-3">Calle 72 sur # 14-24</span>
          </div>
          <div>
            <span class="icono"><i class="fas fa-phone-alt"></i></span>
            <span class="pl-2">+57 3057391845</span>
          </div>
          <div>
            <span class="icono"><i class="fas fa-envelope"></i></span>
            <span class="pl-2">andromedamaster6@gmail.com</span>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-5 pt-3">
        <form class="needs-validation" name="form" novalidate>
          <div class="form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="{{'HOME.CONTACT.Nombre Completo' | translate}}" required>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email" id="email" placeholder=" {{'HOME.CONTACT.Correo Electronico'|translate}}" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder=" {{'HOME.CONTACT.Asunto'|translate}}" required>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" placeholder=" {{'HOME.CONTACT.Mensaje'|translate}}" required></textarea>
          </div>
          <div class="text-center">
            <button class="btn btn-andromeda" type="submit">{{'HOME.CONTACT.Enviar mensaje'|translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
