h2 {
  font-size: 44px;
  line-height: 54px;
}

.contact-about .iconos a {
  font-size: 18px;
  display: inline-block;
  background: white;
  color: #083358;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  border: 1px solid #083358;
}

.contact-about .iconos a:hover {
  background-color: #012b552c;
}

.info .icono {
  color: #083358;
  font-size: 25px;
  margin-right: 5px;
}

.info div {
  margin-bottom: 15px;
}

.heart {
  color: #ff304f !important;
}


@media (max-width: 768px) {

  h2 {
    font-size: 30px;
    line-height: 34px;
  }
}
